<!DOCTYPE html>
<html ng-app ="myModule">
<head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/script.js"></script>
</head>
<body>
    <div>
        <div ng-controller ="myController">
            <input type ="text" ng-model="myArray[0].Name" />
            <p>{{myArray[0].Name}}</p>
            <span ng-bind="myArray[0].Name"></span>
        </div><br><br>
        <div ng-controller ="myController">
            <input type ="text" ng-model="myArray[0].Name" />
            {{myArray[0].Name}}
        </div><br><br>
         <div ng-controller ="myController">
            <img ng-src = {{myArray[0].img}}  alt = "show this can come from js too" />
        </div><br><br>
         <div ng-controller ="myController">
             First sin value using "expression"  = {{myArray[0].sval}}<br>
             Second sin value using "ng-bind" = <span ng-bind="myArray[1].sval"></span>
        </div><br><br>
         <div>
            20 + 20 = {{ 20 + 20}}
        </div><br><br>
         <div>
            Country from Object {{{ 'Name': 'Ahmed', 'Country': 'USA'}.Country}}
        </div>
        <div>
            Name from Object {{{ 'Name': 'Ahmed', 'Country': 'USA'}.Name}}
        </div>
    </div>
</body>

</html>
